<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::MatrixTool" version="1230">

<Menu name="MatrixMover">
  <Action name="select" text="Switch to Select Tool" icon="select" shortcut="F2" />
  <Action name="draw" text="Switch to Draw Tool" icon="pencil" shortcut="F3" />
  <Action name="erase" text="Switch to Erase Tool" icon="eraser" shortcut="F4" />
  <Action name="resize" text="Switch to Resize Tool" icon="resize" shortcut="F6" />
<!-- <Separator/> -->
<!-- Defunct: <Action name="halve_durations"/> -->
<!-- Defunct: <Action name="double_durations"/> -->
</Menu>

</kpartgui>
