<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="TriggerManager" version="1230">

<MenuBar>

  <Menu name="file">
    <text>&amp;File</text>
    <!-- JAS name="file_close" in many other major .rc files -->
    <Action name="file_close_discard" text="&amp;Close" icon="fileclose" shortcut="Ctrl+W" />
  </Menu>

  <Menu name="edit">
    <text>&amp;Edit</text>
    <!-- JAS 'Undo' and 'Redo' use dynamic text.  Put default text for new project in. -->
    <Action name="edit_undo" text="&amp;Nothing to undo" icon="undo" shortcut="Ctrl+Z" />
    <Action name="edit_redo" text="N&amp;othing to redo" icon="redo" shortcut="Ctrl+Shift+Z" />
  <Separator/>
    <Action name="paste_to_trigger_segment" text="Pa&amp;ste as New Triggered Segment" shortcut="Ctrl+Shift+V" />
  </Menu>

  <Menu name="view">
    <text>&amp;View</text>
    <Action name="time_musical" text="&amp;Musical Times" icon="time-musical"  />
    <Action name="time_real" text="&amp;real Times" icon="time-real" />
    <Action name="time_raw" text="Ra&amp;w Times" icon="time-raw" />
  </Menu>

  <Menu name="help" append="about_merge">
    <text>&amp;Help</text>
    <Action name="help_contents" text="Rosegarden &amp;Handbook" icon="contents" shortcut="F1" />
    <Action name="help_whats_this" text="&amp;What's This?" icon="contexthelp" shortcut="Shift+F1" />
  <Separator/>
    <!-- JAS invented "language_switch" action name -->
    <Action name="language_switch" text="Switch application &amp;language..." />
  <Separator/>
    <!-- JAS invented "help_online" action name, and used KDE launch icon: can't fing right one -->
    <Action name="help_online" text="&amp;Get Help Online" icon="launch" />
    <!-- JAS invented "language_translate" action name and used KDE translate icon: can't fiond right one -->
    <Action name="language_translate" text="&amp;Translate This Application" icon="translate" />
  <Separator/> 
    <Action name="help_about_app" text="&amp;About Rosegarden" icon="rg-rwb-rose3-16x16" />
    <Action name="help_about_kde" text="About &amp;KDE" icon="about_kde" />
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar">
   <Action name="file_close"/>
</ToolBar>

<ToolBar name="Time Toolbar">
  <text>Time Toolbar</text>
  <Action name="time_musical"/>
  <Action name="time_real"/>
  <Action name="time_raw"/>
</ToolBar>

<State name="have_clipboard_single_segment">
     <enable>
        <Action name="paste_to_trigger_segment"/>
     </enable>
</State>

</kpartgui>
