<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::MatrixTool" version="1230">

<Menu name="MatrixResizer">
  <Action name="select" />
  <Action name="move"/>
  <Action name="draw"/>
  <Action name="erase"/>
  <Separator/>
  <Action name="half_speed"/>
  <Action name="double_speed"/>
</Menu>

</kpartgui>
