<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::NotationTool" version="091">

<Menu noMerge="1" name="ClefInserter">
  <Action name="notes" />
  <Action name="erase" />
  <Action name="select" />
</Menu>

</kpartgui>
