<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::Matrix" version="1">

<MenuBar>

<Menu name="edit" append="new_merge">
  <Action name="select_all"/>
</Menu>

<Menu name="Transforms">
  <text>Trans&amp;forms</text>
  <Action name="quantize"/>
</Menu>

</MenuBar>

<ToolBar name="toolsToolBar">
  <Action name="select" />
  <Action name="move" />
  <Action name="draw" />
  <Action name="erase" />
  <Action name="resize" />
</ToolBar>

<ToolBar name="actionsToolBar">
</ToolBar>

<ToolBar name="zoomToolBar">
</ToolBar>

<State name="have_selection">
  <enable>
    <Action name="edit_cut"/>
    <Action name="edit_copy"/>
    <Action name="quantize"/>
  </enable>
</State>

<State name="have_clipboard_single_segment">
  <enable>
    <Action name="edit_paste"/>
  </enable>
</State>

</kpartgui>
