<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::Matrix" version="1">

<MenuBar>

<Menu name="Transforms">
  <text>Trans&amp;forms</text>

  <Action name="quantize"/>
</Menu>

</MenuBar>


<ToolBar name="toolsToolBar">
  <Action name="select" />
  <Action name="move" />
  <Action name="paint" />
  <Action name="erase" />
  <Action name="resize" />
</ToolBar>

</kpartgui>
