<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::MatrixTool" version="096">

<Menu name="MatrixMover">
  <Action name="select"/>
  <Action name="draw" />
  <Action name="erase"/>
  <Action name="resize"/>
</Menu>

</kpartgui>
