<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::NotationTool" version="1">

<Menu name="NotationSelector">
  <Action name="insert" />
  <Action name="erase" />
</Menu>

</kpartgui>
