<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::Notation" version="1">

<MenuBar>

<Menu name="View">
  <text>&amp;View</text>
<Action name="debug_dump"/>
<Separator/>
  <Action name="linear_mode"/>
  <Action name="page_mode"/>
<!-- Stuff from font/layout toolbar, e.g...
  <Separator/>
  <Menu name="Font">
    <text>&amp;Font</text>
etc
-->
<!-- I like this better than putting them in Settings, but...
  <Menu name="Toolbars">
  <text>&amp;Toolbars</text>
  <Action name="show_notes_toolbar"        />
  <Action name="show_rests_toolbar"        />
  <Action name="show_dotted_notes_toolbar" />
  <Action name="show_dotted_rests_toolbar" />
  <Action name="show_accidentals_toolbar"  />
  <Action name="show_clefs_toolbar"        />
  </Menu>
-->
  <Separator/>
  <Action name="label_chords"/>
</Menu>

<Menu name="edit">
  <Action name="general_paste"/>
  <Separator/>
  <Action name="select_from_start"/>
  <Action name="select_to_end"/>
  <Action name="select_whole_staff"/>
  <Separator/>
  <Action name="add_key_signature"/>
  <Action name="add_time_signature"/>
</Menu>

<Menu name="Tools">
  <text>&amp;Tools</text>

<Action name="select"/>
<Action name="erase"/>

<Separator/>

<Menu noMerge="1" name="Notes">
  <text>&amp;Notes</text>
  <Action name="breve" />
  <Action name="whole_note" />
  <Action name="half" />
  <Action name="quarter" />
  <Action name="8th" />
  <Action name="16th" />
  <Action name="32nd" />
  <Action name="64th" />
  <Separator/>
  <Action name="dotted_whole_note" />
  <Action name="dotted_half" />
  <Action name="dotted_quarter" />
  <Action name="dotted_8th" />
  <Action name="dotted_16th" />
  <Action name="dotted_32nd" />
</Menu>

<Menu noMerge="1" name="Rests">
  <text>&amp;Rests</text>
  <Action name="breve_rest" />
  <Action name="whole_note_rest" />
  <Action name="half_rest" />
  <Action name="quarter_rest" />
  <Action name="8th_rest" />
  <Action name="16th_rest" />
  <Action name="32nd_rest" />
  <Action name="64th_rest" />
  <Separator/>
  <Action name="dotted_whole_note_rest" />
  <Action name="dotted_half_rest" />
  <Action name="dotted_quarter_rest" />
  <Action name="dotted_8th_rest" />
  <Action name="dotted_16th_rest" />
  <Action name="dotted_32nd_rest" />
</Menu>

<Menu noMerge="1" name="Clefs">
  <text>&amp;Clefs</text>
  <Action name="treble_clef" />
  <Action name="tenor_clef" />
  <Action name="alto_clef" />
  <Action name="bass_clef" />
</Menu>

<Separator/>

<Menu noMerge="1" name="Accidentals">
  <text>&amp;Accidentals</text>
  <Action name="no_accidental" />
  <Action name="sharp_accidental" />
  <Action name="flat_accidental" />
  <Action name="natural_accidental" />
  <Action name="double_sharp_accidental" />
  <Action name="double_flat_accidental" />
</Menu>

</Menu>

<Menu name="Group">
  <text>&amp;Group</text>
  <Action name="beam"/>
  <Action name="auto_beam"/>
  <Action name="tuplet"/>
  <Action name="simple_tuplet"/>
  <Action name="break_group"/>
  <Separator/>
  <Menu name="Stems">
    <text>&amp;Stem Direction</text>
    <Action name="stems_up"/>
    <Action name="stems_down"/>
    <Action name="restore_stems"/>
  </Menu>
  <Separator/>
  <Action name="tie"/>
  <Action name="slur"/>
  <Action name="crescendo"/>
  <Action name="decrescendo"/>
  <Action name="remove_indications"/>
  <Separator/>
  <Menu name="Marks">
    <text>&amp;Marks</text>
    <Action name="remove_marks"/>
    <Separator/>
    <Action name="add_accent"/>
    <Action name="add_tenuto"/>
    <Action name="add_staccato"/>
    <Action name="add_text_sf"/>
    <Action name="add_text_rf"/>
    <Action name="add_trill"/>
    <Action name="add_turn"/>
    <Action name="add_pause"/>
    <Action name="add_up-bow"/>
    <Action name="add_down-bow"/>
    <Separator/>
    <Action name="add_text_mark"/>
  </Menu>
</Menu>

<Menu name="Transforms">
  <text>Trans&amp;forms</text>
  <Action name="normalize_rests"/>
  <Action name="collapse_rests_aggressively"/>
  <Separator/>
  <Action name="collapse_notes"/>
  <Separator/>
  <Menu name="Transpose">
  <text>Trans&amp;pose</text>
  <Action name="transpose_up"/>
  <Action name="transpose_down"/>
  <Separator/>
  <Action name="transpose_up_octave"/>
  <Action name="transpose_down_octave"/>
  <Separator/>
  <Action name="general_transpose"/>
  </Menu>
  <Separator/>
  <Action name="invert"/>
  <Action name="retrograde"/>
</Menu>

<Menu  name="settings"><text>&amp;Settings</text>
  <Action name="show_notes_toolbar"        append="show_merge" />
  <Action name="show_rests_toolbar"        append="show_merge" />
  <Action name="show_accidentals_toolbar"  append="show_merge" />
  <Action name="show_clefs_toolbar"        append="show_merge" />
  <Action name="show_font_toolbar"         append="show_merge" />
</Menu> 

</MenuBar>

<ToolBar name="toolsToolBar">
  <Action name="erase" />
  <Action name="select" />
</ToolBar>

<ToolBar name="notesToolBar" newline="true">
  <Action name="breve" />
  <Action name="whole_note" />
  <Action name="half" />
  <Action name="quarter" />
  <Action name="8th" />
  <Action name="16th" />
  <Action name="32nd" />
  <Action name="64th" />

  <Action name="dotted_whole_note" />
  <Action name="dotted_half" />
  <Action name="dotted_quarter" />
  <Action name="dotted_8th" />
  <Action name="dotted_16th" />
  <Action name="dotted_32nd" />
</ToolBar>

<ToolBar name="restsToolBar">

  <Action name="breve_rest" />
  <Action name="whole_note_rest" />
  <Action name="half_rest" />
  <Action name="quarter_rest" />
  <Action name="8th_rest" />
  <Action name="16th_rest" />
  <Action name="32nd_rest" />
  <Action name="64th_rest" />

  <Action name="dotted_whole_note_rest" />
  <Action name="dotted_half_rest" />
  <Action name="dotted_quarter_rest" />
  <Action name="dotted_8th_rest" />
  <Action name="dotted_16th_rest" />
  <Action name="dotted_32nd_rest" />

</ToolBar>

<ToolBar name="accidentalsToolBar">
  <Action name="no_accidental" />
  <Action name="sharp_accidental" />
  <Action name="flat_accidental" />
  <Action name="natural_accidental" />
  <Action name="double_sharp_accidental" />
  <Action name="double_flat_accidental" />
</ToolBar>

<ToolBar name="clefsToolBar">
  <Action name="treble_clef" />
  <Action name="tenor_clef" />
  <Action name="alto_clef" />
  <Action name="bass_clef" />
</ToolBar>

<ToolBar name="metaToolbar" newline="true">
  <Action name="show_notes_toolbar"        />
  <Action name="show_rests_toolbar"        />
  <Action name="show_dotted_notes_toolbar" />
  <Action name="show_dotted_rests_toolbar" />
  <Action name="show_accidentals_toolbar"  />
  <Action name="show_clefs_toolbar"        />
</ToolBar>

<ToolBar name="fontToolBar">
</ToolBar>

</kpartgui>
