<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::NotationTool" version="090">

<Menu noMerge="1" name="NotationSelector">
  <Action name="insert" />
  <Action name="erase" />
</Menu>

</kpartgui>
