<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::NotationTool" version="1">

<Menu noMerge="1" name="RestInserter">
  <Action name="notes" />
  <Action name="erase" />
  <Action name="select" />
  <Separator/>
  <Action name="toggle_dot" />
</Menu>

</kpartgui>
