<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden" version="1">

<MenuBar>
  <Menu  name="file"><text>&amp;File</text>
    <Action name="file_import_midi" append="new_merge" />
    <Action name="file_import_rg21" append="new_merge" />
  </Menu>
  <Menu name="Tracks">
	<text>Tracks</text>
	<Action name="move"/>
	<Action name="draw"/>
	<Action name="erase"/>
	<Action name="resize"/>
	<Action name="change_time_res"/>
  </Menu>
  <Menu name="Transport">
        <text>Transport</text>
        <Action name="play"/> 
        <Action name="stop"/> 
        <Action name="fast_forward"/> 
        <Action name="rewind"/> 
  </Menu>
  <Menu  name="settings"><text>&amp;Settings</text>
         <Action name="show_tracks_toolbar" append="show_merge" />
  </Menu>

</MenuBar>

<ToolBar fullWidth="true" name="tracksToolBar" newline="true">
	<Action name="move"/>
	<Action name="draw"/>
	<Action name="erase"/>
	<Action name="resize"/>
</ToolBar>

</kpartgui>
