<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden" version="091">

<MenuBar>
  <Menu name="file">
  <Action name="file_revert"/>
    <Menu name="import" append="open_merge"><text>&amp;Import</text>
      <Action name="file_import_midi" />
      <Action name="file_import_rg21" />
    </Menu>
    <Menu name="merge" append="open_merge"><text>&amp;Merge</text>
      <Action name="file_merge" />
      <Action name="file_merge_midi" />
      <Action name="file_merge_rg21" />
    </Menu>
    <Menu name="export" append="save_merge"><text>&amp;Export</text>
      <Action name="file_export_midi" />
      <Action name="file_export_csound" />
      <Action name="file_export_lilypond" />
      <Action name="file_export_mup" />
      <Action name="file_export_musicxml" />
    </Menu>
  </Menu>
  <Menu name="edit">
        <Action name="delete"/>
        <Separator/>
        <Action name="select_all"/>
        <Separator/>
        <Action name="add_tempo"/>
        <Action name="add_time_signature"/>
        <Action name="change_composition_length"/>
        <Action name="edit_markers"/>
        <Separator/>
        <Action name="edit_doc_properties"/>
  </Menu>
  <Menu name="Segments">
        <text>Seg&amp;ments</text>
        <Action name="edit_default"/>
        <Separator/>
        <Action name="edit_matrix"/>
        <Action name="edit_notation"/>
        <Action name="edit_event_list"/>
        <Separator/>
        <Action name="relabel_segment"/>
        <Action name="quantize_selection"/>
        <Action name="rescale"/>
<!--    <Action name="harmonize_selection"/> -->
        <Separator/>
        <Action name="auto_split"/>
        <Action name="split_by_pitch"/>
        <Action name="join_segments"/>
        <Action name="repeats_to_real_copies"/>
        <Separator/>
        <Action name="set_tempo_to_segment_length"/>
      <Action name="audio_manager"/>
  </Menu>
  <Menu name="Tracks">
        <text>Trac&amp;ks</text>
        <Action name="add_tracks"/>
        <Action name="delete_track"/>
        <Action name="move_track_down"/>
        <Action name="move_track_up"/>
        <Action name="select_next_track"/>
        <Action name="select_previous_track"/>
        <Separator/>
        <Menu name="set_track_instrument"><text>Set Instrument</text></Menu>
        <Action name="remap_instruments"/>
  </Menu>
  <Menu name="Studio">
        <text>&amp;Studio</text>
        <Action name="manage_devices"/>
        <Action name="modify_banks"/>
        <Action name="modify_midi_filters"/>
        <Separator/>
        <Action name="manage_controls"/>
        <Separator/>
        <Action name="save_default_studio"/>
	<Action name="load_studio"/>
  </Menu>
  <Menu name="Transport">
        <text>T&amp;ransport</text>
        <Action name="play"/> 
        <Action name="stop"/> 
        <Action name="fast_forward"/> 
        <Action name="rewind"/> 
        <Action name="record"/>
        <Action name="recordtoggle"/>
  </Menu>
  <Menu name="Tools">
        <text>&amp;Tools</text>
        <Action name="select"/>
        <Action name="move"/>
        <Action name="draw"/>
        <Action name="erase"/>
        <Action name="resize"/>
        <Action name="split"/>
        <!-- <Action name="join"/> -->
  </Menu>
  <Menu  name="settings">
         <Action name="show_tools_toolbar"         append="show_merge" />
         <Action name="show_tracks_toolbar"        append="show_merge" />
         <Action name="show_editors_toolbar"       append="show_merge" />
         <Action name="show_transport_toolbar"     append="show_merge" />
         <Action name="show_zoom_toolbar"          append="show_merge" />
  <Separator append="show_merge" />
         <Action name="show_transport"             append="show_merge" />
  <Separator append="show_merge" />
         <Action name="show_rulers"                append="show_merge" />
         <Action name="show_chord_name_ruler"      append="show_merge" />
         <Action name="show_tempo_ruler"           append="show_merge" />
         <Action name="show_previews"              append="show_merge" />
         <Action name="show_tracklabels"           append="show_merge" />
         <Action name="show_segment_parameters"    append="show_merge" />
         <Action name="show_instrument_parameters" append="show_merge" />
         <Action name="toggle_all"                 append="show_merge" />
  </Menu>
  <Menu name="help">
        <Action name="help_show_tip"/>
  </Menu>

</MenuBar>

<ToolBar name="Tools Toolbar">
     <text>Tools Toolbar</text>
        <Action name="select"/>
        <Action name="move"/>
        <Action name="resize"/>
        <Action name="draw"/>
        <Action name="erase"/>
        <Action name="split"/>
        <!-- <Action name="join"/> -->
</ToolBar>

<ToolBar name="Tracks Toolbar">
    <text>Tracks Toolbar</text>
        <Action name="add_tracks"/>
        <Action name="delete_track"/>
        <Action name="move_track_up"/>
        <Action name="move_track_down"/>
</ToolBar>

<ToolBar name="Editors Toolbar">
     <text>Editors Toolbar</text>
        <Action name="edit_matrix"/>
        <Action name="edit_notation"/>
        <Action name="edit_event_list"/>
</ToolBar>

<ToolBar name="Transport Toolbar">
  <text>Transport Toolbar</text>
  <Action name="rewindtobeginning" />
  <Action name="rewind" />
  <Action name="play" />
  <Action name="fast_forward" />
  <Action name="fastforwardtoend" />
  <Action name="stop" />
  <Action name="record" />
</ToolBar>

<ToolBar name="Zoom Toolbar">
  <text>Zoom Toolbar</text>
</ToolBar>

<!--     RMB Menus           -->

<Menu noMerge="1" name="segment_tool_menu">
   <Action name="edit_default"/>
   <Separator/>
   <Action name="edit_matrix"/>
   <Action name="edit_notation"/>
   <Action name="edit_event_list"/>
   <Separator/>
   <Action name="edit_undo"/>
   <Action name="edit_redo"/>
   <Separator/>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Separator/>
   <Action name="delete"/>
   <Separator/>
   <Action name="quantize_selection"/>
   <Action name="relabel_segment"/>
   <Separator/>
   <Action name="select"/>
   <Action name="move"/>
   <Action name="draw"/>
   <Action name="erase"/>
   <Action name="resize"/>
   <Action name="split"/>
   <!-- <Action name="join"/> -->
</Menu>

<!--     Application States           -->

<State name="new_file">
        <disable>
                <Action name="file_revert"/>
                <Action name="file_save"/>
        </disable>
        <enable>
                <Action name="file_close"/>
                <Action name="file_print"/>
                <Action name="file_print_preview"/>
        </enable>
</State>

<State name="file_modified">
        <enable>
                <Action name="file_revert"/>
                <Action name="file_save"/>
        </enable>
</State>

<State name="have_segments">
        <enable>
                <Action name="move"/>
                <Action name="erase"/>
                <Action name="resize"/>
                <Action name="split"/>
                <!-- <Action name="join"/> -->
                <Action name="file_print"/>
                <Action name="file_print_preview"/>
        </enable>
</State>

<State name="have_selection">
     <enable>
        <Action name="edit_cut"/>
        <Action name="edit_copy"/>
        <Action name="delete"/>
        <Action name="edit_default"/>
        <Action name="edit_matrix"/>
        <Action name="edit_notation"/>
        <Action name="edit_event_list"/>
        <Action name="quantize_selection"/>
<!--    <Action name="harmonize_selection"/> -->
        <Action name="rescale"/>
        <Action name="auto_split"/>
        <Action name="split_by_pitch"/>
        <Action name="collapse"/>
        <Action name="set_tempo_to_segment_length"/>
        <Action name="repeats_to_real_copies"/>
        <Action name="relabel_segment"/>
     </enable>
</State>

<State name="have_clipboard">
     <enable>
        <Action name="edit_paste"/>
     </enable>
</State>

<State name="got_midi_devices">
     <enable>
       <Action name="modify_banks"/>
       <Action name="remap_instruments"/>
     </enable>
</State>

<State name="sequencer_running">
     <enable>
       <Action name="rewindtobeginning" />
       <Action name="rewind" />
       <Action name="play" />
       <Action name="fast_forward" />
       <Action name="fastforwardtoend" />
       <Action name="stop" />
       <Action name="record" />
       <Action name="recordtoggle" />
     </enable>
</State>

<State name="not_playing">
     <enable>
        <Action name="manage_devices"/>
     </enable>
</State>

<State name="bankeditor_shown">
     <disable>
        <Action name="modify_banks"/>
     </disable>
</State>

</kpartgui>
