# KDE Config File  
[KDE Desktop Entry]
Type=Application
Exec=rosegarden -caption "%c" %i %m  
Icon=rosegarden.xpm
MiniIcon=rosegarden.xpm
DocPath=rosegarden/index.html
Comment=
Comment[de]=
Terminal=0
Name=Rosegarden
Name[de]=Rosegarden
