# KDE Config File  
[KDE Desktop Entry]
Type=Application
Categories=AudioVideo;Application;X-SuSE-Sequencer;X-Red-Hat-Base;
Exec=rosegarden -caption "%c" %i %m
MimeType=audio/x-rosegarden;audio/x-rosegarden-device
X-KDE-NativeMimeType=audio/x-rosegarden
Icon=rosegarden.png
MiniIcon=rosegarden.png
DocPath=rosegarden/index.html
Comment=MIDI and Audio Sequencer and Editor
Comment[de]=
Terminal=0
Name=Rosegarden
Name[de]=Rosegarden
