<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::NotationTool" version="1000">

<Menu noMerge="1" name="TextInserter">
  <Action name="select" />
  <Action name="notes" />
  <Action name="erase" />
</Menu>

</kpartgui>
