[Desktop Entry]
Comment=Rosegarden file
Comment[fr]=Fichier Rosegarden
Hidden=false
Icon=midi
MimeType=audio/x-rosegarden
Patterns=*.rg;*.RG
Type=MimeType
