[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=AudioVideo;Audio;Midi;Sequencer;X-SuSE-Sequencer;X-Red-Hat-Base;
Exec=rosegarden %m
MimeType=audio/x-rosegarden-composition;audio/x-rosegarden-device;audio/x-rosegarden-project;audio/x-rosegarden-template;
X-KDE-NativeMimeType=audio/x-rosegarden-composition
Icon=rosegarden.png
DocPath=http://rosegardenmusic.com
Comment=MIDI and Audio Sequencer and Notation Editor
Comment[es]=Secuenciador de MIDI y audio y editor de partitura
Terminal=false
Name=Rosegarden
Name[de]=Rosegarden
Name[es]=Rosegarden
