<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<kpartgui name="Rosegarden::MatrixTool" version="1230">

<Menu name="MatrixEraser">
  <Action name="select" />
  <Action name="move"/>
  <Action name="draw"/>
  <Action name="resize"/>
<!-- <Separator/> -->
<!-- Defunct: <Action name="half_speed"/> -->
<!-- Defunct: <Action name="double_speed"/> -->
</Menu>

</kpartgui>
