<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>TITLE</title>
  </head>
  <body>

    <div id="heading" STYLE="background: #000000">
	<img src="../../roses.png" alt="" width="183"
	height="104"><img src="../../title-using-rosegarden.png"
	    alt="Learning Rosegarden"></div>


    <div id="main">
        <h1>TITLE</h1>
	<h4>Copyright &copy; 2008 D. Michael McIntyre</h4>
	<h5>This tutorial was written with a pre-release version of Rosegarden
	1.7.0</h5>

	INTRO

	<h1>First Heading</h1>

	<p align=center>
	<img src="pixmaps/000.png">
	</p>

</div>
</body>
</html>
